[submodule "ros/catkin_ws/src/turtlebot3"]
	path = ros/catkin_ws/src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
[submodule "ros/catkin_ws/src/turtlebot3_msgs"]
	path = ros/catkin_ws/src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
[submodule "ros/catkin_ws/src/turtlebot3_simulations"]
	path = ros/catkin_ws/src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
[submodule "ros/catkin_ws/src/slam_gmapping"]
	path = ros/catkin_ws/src/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
[submodule "ros/catkin_ws/src/relative_pos"]
	path = ros/catkin_ws/src/relative_pos
	url = https://github.com/joshrands/relative_pos.git
[submodule "ros/catkin_ws/src/navigation"]
	path = ros/catkin_ws/src/navigation
	url = https://github.com/ros-planning/navigation.git
