<launch>
  <!-- Arguments -->

  <!-- Map Server Launch -->
  <include file="$(find distributed_localization)/launch/map_server.launch" />
  <!-- Multirobot Launch -->
  <include file="$(find distributed_localization)/launch/multi_turtlebot3_relative_pose.launch" />
  <!-- AMCL Launch -->
  <include file="$(find distributed_localization)/launch/amcl.launch" />
  <!-- Distributed Synchronization -->
  <node name="sync_loc_on_detect" pkg="distributed_localization" type="sync_loc_on_detect.py">
    <param name="/use_sim_time"              value="true"/>
  </node>
  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find distributed_localization)/rviz/localization.rviz"/>
</launch>
